
*{
    margin: 0;
    box-sizing: border-box;

}
:root{
    --black: #000000;
    --white: #ffffff;
    --grey: slategrey;
    --small: .5em;
    --medium: 1em;
    --large: 2em;
    --extra-large: 3em;
    font-family: 'Abyssinica SIL', serif;

}

body{
    background: radial-gradient(white, rgb(153, 149, 140));
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

header{
    background-color: hsl(197, 71%, 80%);
    box-sizing: border-box;

    text-align: center;
    width: 100%;
    height: auto;
    position: relative;
    font-size: 5vh ;
    line-height: 1.25em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color:black;
    text-decoration: none;

    -webkit-text-stroke: 0.015em rgba(255,255,255,0.5);

}



#content{
    display: flex;
    width: 100%;
    height: 90vh;


}

.fileList{
    width: 15%;
    height: 100%;

}
.textContent{
    width: 85%;
    height: 100%;
    /* padding-left: 0px;
    padding-right: 0px; */

}

.a{

    background-color: gainsboro;
    border-radius: 4px;
    height: 85%;
    background-color: gainsboro;
    border-radius: 4px;
    margin-top: 1em;
    /* padding: .5em; */
}

#text{
    /* margin: 0px 1em; */
    /* margin-right: 1em; */
    width: 100%;
    height: 100%;
    position:relative;
    resize: none;
    display: inline-block;

}
.toolStyle{
    padding-left: 2vw;
    padding-top: 0.3vw;
    width: 100%;
    height: 2em;
    display: flex;
    background-color: rgb(195, 208, 222);
    border-radius: 4px;

}
.tool>h5{
    margin: auto;
}
#style{
    /* display: flex; */
    width: 70%;
    margin-bottom: em;
    display: flex;

    /* overflow: scroll; */
}


#save{

    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #41cb1b;
    border-color: #42de17;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;




}
#save:hover{


        color: #fff;
        background-color: #2be33b;
        border-color: #6bd846;


}
#deleteAll{
    margin: auto 16px;

    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #f90c0c;
    border-color: #fd150d;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;


}
#heading
{
    position: relative;
    font-size: 5vh ;
    line-height: 1.25em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color:transparent;
    text-decoration: none;
    -webkit-text-stroke: 0.015em rgba(255,255,255,0.5);
}
#copyAll{
    margin: auto 16px;
    background-color: #369deb;
}
#save>button  :hover {
    color: #fff;
    background-color: #4de722;
    border-color: #42de17;
}

#deleteAll:hover {
    color: #fff;
    background-color: #d7190b;
    border-color: #f1f2f4;
}


#copyAll>button:hover{
    background-color: skyblue;
    padding: auto;

}

#bold-plain>button:hover{
    background-color: #e7c6ff;
    padding: auto;

}
#emp-nonemp{
    margin: auto 16px;

    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #0d6efd;
  
    /* uncomment these to get distant buttons */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
#emp-nonemp :hover {
    color: #000000;
    background-color: #0d6efd;

}
#underline-normal{
    margin: auto 16px;
    /* uncomment these to get distant buttons */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
#bold-plain{
    margin: auto 16px;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #0d6efd;

    /* uncomment these to get distant buttons */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
#mode{
    /* uncomment these to get distant buttons */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
#bold-plain>button:hover{
    background-color:#fae588;
    padding: auto;

}
#emp-nonemp>button:hover{
    background-color: #fae588;
    padding: auto;

}
#underline-normal>button:hover{
    background-color:#fae588;
    padding: auto;


}
#bold-plain>button:hover{
    background-color:#fae588;
    padding: auto;

}
#mode>button:hover{
    background-color:#fae588;
    padding: auto;

}

.list{
    cursor: pointer;
}

#content>div{
background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px
}

ul>li:hover{
    color: bisque;

}

.del {
	  font-size: 18px;
	  padding: 4px;
	  background: azure;
	  border-radius: 50%;
	  margin: 11px;
}