
*{
    margin: 0;
    box-sizing: border-box;

}
:root{
    --black: #000000;
    --white: #ffffff;
    --grey: slategrey;
    --small: .5em;
    --medium: 1em;
    --large: 2em;
    --extra-large: 3em;
    font-family: 'Abyssinica SIL', serif;

}

body{
    background: radial-gradient(white, rgb(153, 149, 140));
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

header{
    background-color: hsl(197, 71%, 80%);
    box-sizing: border-box;
  
    text-align: center;
    width: 100%;
    height: auto;
    position: relative;
    font-size: 5vh ;
    line-height: 1.25em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color:black;
    text-decoration: none;
  
    -webkit-text-stroke: 0.015em rgba(255,255,255,0.5);
    
}


#content {
  display: flex;
  width: 100%;
  height: 90vh;
}

.fileList {
  width: 15%;
  height: 100%;
  z-index: 100;
}
.textContent {
  width: 85%;
  height: 100%;
  /* padding-left: 0px;
    padding-right: 0px; */
}

.a {
  background-color: gainsboro;
  border-radius: 4px;
  height: 85%;
  background-color: gainsboro;
  border-radius: 4px;
  margin-top: 1em;
  /* padding: .5em; */
}

#text {
  /* margin: 0px 1em; */
  /* margin-right: 1em; */
  width: 100%;
  height: 100%;
  position: relative;
  resize: none;
  display: inline-block;
}

.toolStyle {
  padding: 12px;
  display: flex;
  background:linear-gradient(to right, bisque, rgb(250, 201, 109));
  flex-direction: row;
  flex-wrap: wrap;
}
.toolButtons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.toolButtons button{
  padding: 3px 4px;
  background: linear-gradient(to right, rgb(254, 163, 163), rgb(205, 155, 249));
  margin: 3px;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.toolButtons button:hover{
  box-shadow: 2px 2px 2px gray;
}
.tool > h5 {
  margin: auto;
}
#tool{
    margin-right: 20px;
}
#tool button {
  padding: 4px 22px;
  background: linear-gradient(to right, rgb(251, 145, 145), rgb(188, 130, 238));
  margin: 3px;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
}
#tool button:hover{
  box-shadow: 2px 2px 2px gray;
}
#save:hover{
  color: rgb(2, 248, 2);
}
#deleteAll:hover{
  color: red;
}
#bold{
  font-weight: 600;
}
#emphasized{
  font-style: italic;
}
#underline{
  text-decoration: underline;
}



#heading {
  position: relative;
  font-size: 5vh;
  line-height: 1.25em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: transparent;
  text-decoration: none;
  -webkit-text-stroke: 0.015em rgba(255, 255, 255, 0.5);
}

#bold-plain > button:hover {
  background-color: #e7c6ff;
  padding: auto;
}

.buttonPair{
  display: flex;
  flex-direction: row;
}

.list {
  cursor: pointer;
}

#content > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

li:hover {
  background-color: bisque;
}

div.cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-danger {
  background-color: #f90c0c;
  border-color: #fd150d;
  color: #fff;
  outline: none;
}


@media (max-width: 500px){
  .fileList{
    margin: 0px;
    position: fixed;
    bottom: 0px;
    height: 10%;
    width: 90%;
    padding: 0px;
  }
  .fileListOpen{
    height: 90% !important;
  }
  
  .fileList h5{
    margin: 0px;
    background: bisque;
    padding: 10px;
    transition: all 0.3s;
    cursor: pointer;
  }
  .fileList h5:hover{
    background: rgb(249, 218, 180);
    box-shadow: 2px 2px 2px gray;
  }
  #files{
    margin: 0px;
  }
  .a{
    width: 90%;
  }
  .textContent{
    width: 100%;
  }
  textarea{
    width: 100%;
  }
}





